<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="<?php echo base_url() ?>style/admin/css/public.css">
	<script type="text/javascript" src="<?php echo base_url() ?>org/ueditor/ueditor.all.min.js"></script>
	<script type="text/javascript">
		window.UEDITOR_HOME_URL = "<?php echo base_url() ?>org/ueditor/";
		window.onload = function(){
			window.UEDITOR_CONFIG.initialFrameWidth = 900;
			window.UEDITOR_CONFIG.initialFrameHeight = 150;
			UE.getEditor('content');
		}
	</script>
	<script type="text/javascript" src="<?php echo base_url() ?>org/ueditor/ueditor.config.js"></script>
	<title>文章编辑</title>
</head>
<body>
<form action="<?php echo site_url('article/edit') ?>" method="POST" enctype="multipart/form-data">
	<table class="table">
		<tr >
			<td class="th" colspan="10">编辑文章</td>
		</tr>
		<tr>
			<td>标题</td>
			<td>
				<input type="text" name="title" value="<?php echo $article[0]['title'] ?>" >
				<?php echo form_error('title','<span>','</span>') ?>
			</td>
		</tr>
		<tr>
			<td>类型</td>
			<td>
				<input type="radio" name="type" value="0" <?php echo set_radio('type','0') ?> >最新
				<input type="radio" name="type" value="1" <?php echo set_radio('type','1') ?> >经典
			</td>
		</tr>
		<tr>
			<td>栏目</td>
			<td>
				<select name="cid" id="">
					<?php foreach($cate as $v): ?>
					<option value="<?php echo $v['cid'] ?>" <?php echo set_select('cid') ?>>
						<?php echo $v['cname'] ?>
					</option>
				<?php endforeach ?>
				</select>
			</td>
		</tr>
		<tr>
			<td>缩略图</td>
			<td>
				<input type="file" name="thumb">
				
			</td>
		</tr>
		<tr>
			<td>摘要</td>
			<td>
				<textarea name="info" class="text" style="width:550px;height:80px">
				<?php echo $article[0]['info'] ?>
				</textarea>
				<?php echo form_error('info','<span>','</span>') ?>
			</td>
		</tr>
		<tr>
			<td>内容</td>
			<td>
				<textarea name="content" id="content" style="width:550px;height:250px">
					<?php echo $article[0]['content'] ?>
				</textarea>
				<?php echo form_error('content','<span>','</span>') ?>
			</td>
		</tr>
		<tr>
			<td colspan="10">
				<input type="hidden" name="aid" value="<?php echo $article[0]['aid'] ?>">
				<input type="submit" class="input_button" value="修改">
			</td>
		</tr>
	</table>
</form>	
</body>
</html>
